body {
    background-color: #FF4F00;
}
.logo {
    margin: auto;
    margin-top: 10%;
    display: block;

}
.text{
    margin-top: 10%;
    color: white;
    font: Helvetica;
    font-size: small;
    font-weight:lighter;
    display: flex;
    justify-content: center;
}